@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
  color: white;
  font-family: "Rajdhani", sans-serif;
}

.font-lexend {
  font-family: "Lexend Tera", sans-serif;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
}